<!--inventory.handlebars-->
<label class="inv" for="">Inventory</label>
<hr>

<form class="" action="/inventory/items/newItem" method="GET">
    <button class="btn btn-add btn-outline-success" type="button item-inventory" name="button">Add New Item</button>
</form>

<table class="table table-hover table-dark item-inventory">
    <thead>
        <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Price</th>
            <th scope="col">Employee</th>
            <th scope="col">Condition</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    {{#each items}}
        <tbody>
            <tr>
                <!-- <th id="change" scope="row">1</th> -->
                <td>{{this.name}}</td>
                <td>{{this.status}}</td>
                <td>${{this.price}}</td>
                <td>{{this.employee}}</td>
                <td>{{this.condition}}</td>
                <form class="" action="/inventory/items/viewItem/{{this.id}}" method="GET">
                    <td><button type="submit" name="button">Edit</button></td>
                </form>
            </tr>
    {{/each}}


    </tbody>

</table>
